# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Storage
app/storage/

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
logs/
*.log

# SQLite
*.db

# Streamlit
.streamlit/secrets.toml